# Folder view configuration files
.DS_Store
.DS

# Icon
Icon?

# VS Code Settings
.vscode

# Compiled Python files
*.pyc
__pycache__

# plotly key
plotly_key.txt

misc/

Projects (.ipynb)/basketball-floor-texture.png